{%load staticfiles%}
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quality Content</title>

  <!-- Custom fonts for this template-->
  <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Custom styles for this template-->
  <link href="{% static '/css/sb-admin-2.css' %}" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="{% static '/img/iconfinder_23_2135798.png' %}" width="25%"/> Quality Content
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-search"></i>
          <span>Search</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Reports
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="/summary">
          <i class="fas fa-fw fa-file-alt"></i>
          <span>Summary Report</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">
          <i class="fas fa-fw fa-info-circle"></i>
          <span>About</span>
        </a>
      </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">


          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

          <h1 class="h3 mb-4 text-gray-800">Search By Speaker</h1>
          <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardqueries" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardqueries">
                  <h6 class="m-0 font-weight-bold text-primary">Try these sample queries!</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardqueries" style="">
                  <div class="card-body">
            <ul>
                <li><strong>Speaker Name:</strong> Bret Baier</li>
                <li><strong>Speaker Title:</strong> host</li>
                <li><strong>Network:</strong> Fox</li>
                <li><strong>Show Name:</strong> Special Report</li>
                <li><strong>Keywords:</strong> fox</li>
              </ul>
              <ul>
                <li><strong>Speaker Name:</strong> Anderson Cooper</li>
                <li><strong>Network:</strong> CNN</li>
                <li><strong>Keywords:</strong> iran</li>
              </ul>
            <ul>
                <li><strong>Speaker Name:</strong> Tulsi Gabbard</li>
              </ul>
                  </div>
                </div>
              </div>

          <div class="input-group">
            <form method="get">
              {% csrf_token %}
              <table class="form">
                {{ form }}
              </table>
              <input type="submit" value="Submit" class="btn btn-primary">
            </form>

          </div>
          <div>
          {% if query %}
          <div>
            <h2>Speaker Report</h2>
            <h3>Top words and sentences spoken by {{ args.speaker_name|title }}</h3>
            <p>Search for {{ args.speaker_name|title }} returned  {{ most_salient|length }} results.</p>
            <div class="row">
            <!-- <div class="card-deck"> -->
              {% for top_tokens_sents in most_salient %}
              <div class="col-sm-4">

                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary"><strong>{{ top_tokens_sents.network_name }}</strong>: {{ top_tokens_sents.show_name }}<br /> <em>{{ top_tokens_sents.airtime}}</em></h6>
                    </div>
                    <div class="card-body">
                        <strong>Top Tokens</strong>
                     <ul>
                        {% for word in top_tokens_sents.top_tokens %}
                          <li>{{ word }}</li>
                        {% endfor %}
                        
                    </ul>
                        <strong>Summary Sentences</strong>
                    <p>{{ top_tokens_sents.top_sentences|join:" " }}</p>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
      </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; CAPP 30122: Quality Content Group</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static '/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static '/js/sb-admin-2.min.js' %}"></script>

</body>

</html>
